<a href="https://colab.research.google.com/github/BFvandy/EV_Buzz_Analysis/blob/main/EV_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prep

In [ ]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pip install clean-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting clean-text
  Downloading clean_text-0.6.0-py3-none-any.whl (11 kB)
Collecting ftfy<7.0,>=6.0
  Downloading ftfy-6.1.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.7 MB/s
Collecting emoji<2.0.0,>=1.0.0
  Downloading emoji-1.7.0.tar.gz (175 kB)
     |████████████████████████████████| 175 kB 9.3 MB/s
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from ftfy<7.0,>=6.0->clean-text) (0.2.5)
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-1.7.0-py3-none-any.whl size=171046 sha256=9819b8a67eeb84e8d461f2a3ec18771d2777526d5bd828f9ea181411652549a7
  Stored in directory: /root/.cache/pip/wheels/8a/4e/b6/57b01db010d17ef6ea9b40300af725ef3e210cb1acfb7ac8b6
Successfully built emoji
Installing collected packages: ftfy, emoji, clean-text
Successfully installed clean-text-0.6.0 emoji-1.7.0 ftfy-6.1.1

In [ ]:
import re
from cleantext import clean

WARNING:root:Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
cur_path = "/content/drive/My Drive/EV Buzz Analysis"
os.chdir(cur_path)
!pwd

/content/drive/My Drive/EV Buzz Analysis

# SW

In [ ]:
cur_path = "/content/drive/My Drive/EV Buzz Analysis/Strategic Window Verbatim"
os.chdir(cur_path)
!pwd

/content/drive/My Drive/EV Buzz Analysis/Strategic Window Verbatim

In [ ]:
all_SW_cmt = pd.read_csv('EV_SW_3yrs.csv')
pd.set_option('display.max_columns', None)
all_SW_cmt

,Unnamed: 0,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,0,Nissan Leaf S Plus,2022,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,1,Volkswagen ID.4 AWD,2021,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,2,Tesla Model 3,2022,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,3,Volkswagen ID.4 AWD,2021,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,4,Tesla Model 3,2022,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22511,22511,Tesla Model 3,2020,Volkswagen Passat / New Passat,2017.0,Hyundai Kona,2020.0,Sentiment Not Calculated,Age 24,Male,White,"$60,001 - $65,000",No
22512,22512,Chevrolet Bolt EV,2020,GMC Acadia,2017.0,Tesla Model S,2020.0,Sentiment Not Calculated,Age 61,Male,White,"$300,001 - $400,000",No
22513,22513,Nissan Leaf SV Plus,2019,Volvo S60 Sedan,2012.0,Volvo XC40,2020.0,Sentiment Not Calculated,Age 67,Female,White,"$90,001 - $100,000",No
22514,22514,Chevrolet Bolt EV,2020,Chevrolet Bolt EV,2017.0,(None),NaN,Sentiment Not Calculated,Age 47,Male,Other,"$500,001 - $750,000",No
22515,22515,Nissan Leaf SV Plus,2019,Jeep Patriot,2013.0,Tesla Model S,2019.0,Sentiment Not Calculated,Age 43,Male,White,"$100,001 - $125,000",No

# New Section

In [ ]:
# Tag Make and Model
Make = ['Chevrolet', 'Ford', 'Ford', 'GMC', 'Hyundai', 'Hyundai', 'Kia', 'Nissan', 'Subaru', 'Rivian','Tesla','Tesla', 'Volkswagen']
Model = ['Bolt', 'F150 Lightning', 'Mustang Mach-E', 'Hummer', 'Ioniq 5', 'Kona EV', 'EV6', 'Leaf', 'R1T', 'RAV4','Model 3', 'Model Y','ID']

def tag_model(brand):
  for tag in Model:
    if tag in brand:
      return tag
    else:
      pass

def tag_make(mak):
  for cm in Make:
    if cm in mak:
      return cm
    else:
      pass

mod = []
for i in range(len(all_SW_cmt['Purchased'])):
  brand = all_SW_cmt['Purchased'][i]
  mod.append(tag_model(brand))

all_SW_cmt.insert(0,'Model',mod)

car_make = []
for i in range(len(all_SW_cmt['Purchased'])):
  mak = all_SW_cmt['Purchased'][i]
  car_make.append(tag_make(mak))

all_SW_cmt.insert(0,'Make', car_make)
all_SW_cmt

,Make,Model,Unnamed: 0,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,Nissan,Leaf,0,Nissan Leaf S Plus,2022,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,Volkswagen,ID,1,Volkswagen ID.4 AWD,2021,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,Tesla,Model 3,2,Tesla Model 3,2022,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,Volkswagen,ID,3,Volkswagen ID.4 AWD,2021,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,Tesla,Model 3,4,Tesla Model 3,2022,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22511,Tesla,Model 3,22511,Tesla Model 3,2020,Volkswagen Passat / New Passat,2017.0,Hyundai Kona,2020.0,Sentiment Not Calculated,Age 24,Male,White,"$60,001 - $65,000",No
22512,Chevrolet,Bolt,22512,Chevrolet Bolt EV,2020,GMC Acadia,2017.0,Tesla Model S,2020.0,Sentiment Not Calculated,Age 61,Male,White,"$300,001 - $400,000",No
22513,Nissan,Leaf,22513,Nissan Leaf SV Plus,2019,Volvo S60 Sedan,2012.0,Volvo XC40,2020.0,Sentiment Not Calculated,Age 67,Female,White,"$90,001 - $100,000",No
22514,Chevrolet,Bolt,22514,Chevrolet Bolt EV,2020,Chevrolet Bolt EV,2017.0,(None),NaN,Sentiment Not Calculated,Age 47,Male,Other,"$500,001 - $750,000",No
22515,Nissan,Leaf,22515,Nissan Leaf SV Plus,2019,Jeep Patriot,2013.0,Tesla Model S,2019.0,Sentiment Not Calculated,Age 43,Male,White,"$100,001 - $125,000",No

In [ ]:
all_SW_cmt.groupby(['Model']).count()

,Make,Unnamed: 0,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
Model,,,,,,,,,,,,,,
Bolt,1887,1887,1887,1887,1887,1303,1887,1038,1887,1887,1887,1838,1887,1884
EV6,528,528,528,528,528,382,528,349,528,528,528,493,528,528
Hummer,11,11,11,11,11,1,11,1,11,11,11,11,11,11
ID,1651,1651,1651,1651,1651,1186,1651,1142,1651,1651,1651,1582,1651,1650
Ioniq 5,474,474,474,474,474,344,474,358,474,474,474,438,474,473
Kona EV,1484,1484,1484,1484,1484,1041,1484,1006,1484,1484,1484,1444,1484,1480
Leaf,4285,4285,4285,4285,4285,2555,4285,2673,4285,4285,4285,4102,4285,4276
Model 3,5411,5411,5411,5411,5411,3447,5411,2206,5411,5411,5411,5254,5411,5397
Model Y,5070,5070,5070,5070,5070,3382,5070,2340,5070,5070,5070,4901,5070,5058
Mustang Mach-E,1705,1705,1705,1705,1705,1166,1705,1025,1705,1705,1705,1610,1705,1703
R1T,10,10,10,10,10,7,10,0,10,10,10,10,10,10

In [ ]:
all_SW_cmt = all_SW_cmt.drop('Unnamed: 0', axis=1)
all_SW_cmt

,Make,Model,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,Nissan,Leaf,Nissan Leaf S Plus,2022,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,Volkswagen,ID,Volkswagen ID.4 AWD,2021,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,Tesla,Model 3,Tesla Model 3,2022,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,Volkswagen,ID,Volkswagen ID.4 AWD,2021,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,Tesla,Model 3,Tesla Model 3,2022,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22511,Tesla,Model 3,Tesla Model 3,2020,Volkswagen Passat / New Passat,2017.0,Hyundai Kona,2020.0,Sentiment Not Calculated,Age 24,Male,White,"$60,001 - $65,000",No
22512,Chevrolet,Bolt,Chevrolet Bolt EV,2020,GMC Acadia,2017.0,Tesla Model S,2020.0,Sentiment Not Calculated,Age 61,Male,White,"$300,001 - $400,000",No
22513,Nissan,Leaf,Nissan Leaf SV Plus,2019,Volvo S60 Sedan,2012.0,Volvo XC40,2020.0,Sentiment Not Calculated,Age 67,Female,White,"$90,001 - $100,000",No
22514,Chevrolet,Bolt,Chevrolet Bolt EV,2020,Chevrolet Bolt EV,2017.0,(None),NaN,Sentiment Not Calculated,Age 47,Male,Other,"$500,001 - $750,000",No
22515,Nissan,Leaf,Nissan Leaf SV Plus,2019,Jeep Patriot,2013.0,Tesla Model S,2019.0,Sentiment Not Calculated,Age 43,Male,White,"$100,001 - $125,000",No

In [ ]:
all_SW_cmt.insert(2,'Source','Strategic Window')
all_SW_cmt

,Make,Model,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,Nissan,Leaf,Strategic Window,Nissan Leaf S Plus,2022,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,Tesla,Model 3,Strategic Window,Tesla Model 3,2022,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,Tesla,Model 3,Strategic Window,Tesla Model 3,2022,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22511,Tesla,Model 3,Strategic Window,Tesla Model 3,2020,Volkswagen Passat / New Passat,2017.0,Hyundai Kona,2020.0,Sentiment Not Calculated,Age 24,Male,White,"$60,001 - $65,000",No
22512,Chevrolet,Bolt,Strategic Window,Chevrolet Bolt EV,2020,GMC Acadia,2017.0,Tesla Model S,2020.0,Sentiment Not Calculated,Age 61,Male,White,"$300,001 - $400,000",No
22513,Nissan,Leaf,Strategic Window,Nissan Leaf SV Plus,2019,Volvo S60 Sedan,2012.0,Volvo XC40,2020.0,Sentiment Not Calculated,Age 67,Female,White,"$90,001 - $100,000",No
22514,Chevrolet,Bolt,Strategic Window,Chevrolet Bolt EV,2020,Chevrolet Bolt EV,2017.0,(None),NaN,Sentiment Not Calculated,Age 47,Male,Other,"$500,001 - $750,000",No
22515,Nissan,Leaf,Strategic Window,Nissan Leaf SV Plus,2019,Jeep Patriot,2013.0,Tesla Model S,2019.0,Sentiment Not Calculated,Age 43,Male,White,"$100,001 - $125,000",No

# Reddit Concat

In [ ]:
cur_path = "/content/drive/My Drive/EV Buzz Analysis/Reddit Comments"
os.chdir(cur_path)
!pwd

/content/drive/My Drive/EV Buzz Analysis/Reddit Comments

In [ ]:
F150 = pd.read_csv('Ford_F150Lightening_cmt_reddit.csv')
pd.set_option('display.max_columns', None)
F150.insert(0,'Make','Ford')
F150.insert(1,'Model','F150 Lightening')
F150

,Make,Model,body,timestamp
0,Ford,F150 Lightening,Wish Ford had given info on if they are going ...,1.621825e+09
1,Ford,F150 Lightening,"My dealer rep texted me this morning, “We can ...",1.625763e+09
2,Ford,F150 Lightening,"I am trying to find any info on remote ""start""...",1.628616e+09
3,Ford,F150 Lightening,Is it October 26 yet?,1.636933e+09
4,Ford,F150 Lightening,The F150 Lightning needs its own version of se...,1.638572e+09
...,...,...,...,...
18168,Ford,F150 Lightening,Appreciate the info.,1.642111e+09
18169,Ford,F150 Lightening,There needs to be a butt bot to compliment som...,1.641739e+09
18170,Ford,F150 Lightening,"My butt is loved, thank you. Just trying to s...",1.641744e+09
18171,Ford,F150 Lightening,I don't know how to do anything but browse the...,1.641740e+09
18172,Ford,F150 Lightening,I’m a little bit afraid of our sentient butt-l...,1.641743e+09

In [ ]:
Mach_E = pd.read_csv('Ford_Mach-E_cmt_reddit.csv')
Mach_E.insert(0,'Make','Ford')
Mach_E.insert(1,'Model','Mustang Mach-E')
Mach_E

,Make,Model,body,timestamp
0,Ford,Mustang Mach-E,There has been a lot of EV options popping up ...,1.660514e+09
1,Ford,Mustang Mach-E,There's a lot of police departments using them...,1.660516e+09
2,Ford,Mustang Mach-E,Apparently a drug dealer no longer owns a Ford...,1.660525e+09
3,Ford,Mustang Mach-E,2 more national security scandals and it'll be...,1.660510e+09
4,Ford,Mustang Mach-E,My local county sheriffs have a couple and I h...,1.660514e+09
...,...,...,...,...
3509,Ford,Mustang Mach-E,Call it Mach-1 mode or something,1.578720e+09
3510,Ford,Mustang Mach-E,Really? Didn't know that. Makes sense though,1.578716e+09
3511,Ford,Mustang Mach-E,I'm going to buy one and it's 80% because of t...,1.578700e+09
3512,Ford,Mustang Mach-E,Nameplates are reused all the time. People whi...,1.578705e+09
3513,Ford,Mustang Mach-E,"No, I wouldn’t say that at all.",1.578714e+09

In [ ]:
Hummer = pd.read_csv('GMC_HummerEV_reddit.csv')
Hummer.insert(0,'Make','GMC')
Hummer.insert(1,'Model','Hummer')
Hummer

,Make,Model,body,timestamp
0,GMC,Hummer,"Here is a link to our promise, in writing, to ...",1.650468e+09
1,GMC,Hummer,I called Laguna Niguel Cadillac GMC today (whe...,1.648580e+09
2,GMC,Hummer,Make sure you do this before you verify your o...,1.653673e+09
3,GMC,Hummer,McElveen Buick GMC in South Carolina is doing ...,1.649987e+09
4,GMC,Hummer,Just verified Koons Chevy GMC in Tyson’s Corne...,1.654372e+09
...,...,...,...,...
229,GMC,Hummer,"I sadly think you are correct, hurts to say bu...",1.623982e+09
230,GMC,Hummer,Absolutely not. Maybe we’ll be surprised thoug...,1.623983e+09
231,GMC,Hummer,Jesus that thing is a monster. Can’t wait!,1.623958e+09
232,GMC,Hummer,Still no news on when actually available for p...,1.623975e+09
233,GMC,Hummer,I personally love this new truck... we need to...,1.617542e+09

In [ ]:
Ioniq5 = pd.read_csv('Hyundai_Ioniq5_reddit.csv')
Ioniq5.insert(0,'Make','Hyundai')
Ioniq5.insert(1,'Model','Ioniq5')
Ioniq5

,Make,Model,body,timestamp
0,Hyundai,Ioniq5,"Yes, the tax code has changed. Please refer t...",1.660763e+09
1,Hyundai,Ioniq5,If I purchased in June and can't file for the ...,1.660789e+09
2,Hyundai,Ioniq5,Any actually good ioniq 5 alternatives that wi...,1.660919e+09
3,Hyundai,Ioniq5,From the Financial times:\n\n&#x200B;\n\nThe c...,1.661439e+09
4,Hyundai,Ioniq5,Yeah this really sucks. Leaves us Reservations...,1.660763e+09
...,...,...,...,...
17869,Hyundai,Ioniq5,The HUD settings is saved to MEMORY SEAT!!!!!!...,1.658357e+09
17870,Hyundai,Ioniq5,I had that issue. Had to keep -5 the position ...,1.658353e+09
17871,Hyundai,Ioniq5,For me I do have bluelink and yet it doesn’t e...,1.658357e+09
17872,Hyundai,Ioniq5,What you experienced is expected behavior for ...,1.658346e+09
17873,Hyundai,Ioniq5,It's working for me just fine as you'd like it...,1.658358e+09

In [ ]:
KonaEV = pd.read_csv('Hyundai_KonaEV_reddit.csv')
KonaEV.insert(0,'Make','Hyundai')
KonaEV.insert(1,'Model','KonaEV')
KonaEV

,Make,Model,body,timestamp
0,Hyundai,KonaEV,I just got a SEL w/ Convenience Package. I cal...,1.661708e+09
1,Hyundai,KonaEV,Its a sellers market. I would wait. I got luck...,1.661712e+09
2,Hyundai,KonaEV,Did you have to pay above msrp? Did you have t...,1.661712e+09
3,Hyundai,KonaEV,Thanks. I would be ok with a 1k markup but yea...,1.661714e+09
4,Hyundai,KonaEV,"Unfortunately I did - only $1k, which in this ...",1.661713e+09
...,...,...,...,...
12665,Hyundai,KonaEV,"Yea, but right now the 10.25” is only availabl...",1.611666e+09
12666,Hyundai,KonaEV,[deleted],1.611684e+09
12667,Hyundai,KonaEV,"The USB port is the same, so you’d start updat...",1.611708e+09
12668,Hyundai,KonaEV,[deleted],1.612068e+09
12669,Hyundai,KonaEV,Yea only thing I’m worried about is telematics...,1.612073e+09

In [ ]:
EV6 = pd.read_csv('Kia_EV6_reddit.csv')
EV6.insert(0,'Make','Kia')
EV6.insert(1,'Model','EV6')
EV6

,Make,Model,body,timestamp
0,Kia,EV6,"If you are an owner, these are also available ...",1.647623e+09
1,Kia,EV6,"Great find, thanks!",1.629299e+09
2,Kia,EV6,Nice one!,1.635712e+09
3,Kia,EV6,Is it just me or is this not in English,1.654186e+09
4,Kia,EV6,Thanks for the link. Where can I find a pdf ve...,1.641118e+09
...,...,...,...,...
14303,Kia,EV6,You figure someone will start making more chip...,1.648786e+09
14304,Kia,EV6,You can check TheEvFinder.com and this thread ...,1.648852e+09
14305,Kia,EV6,"Russians don't make chips for this car, but ni...",1.648789e+09
14306,Kia,EV6,I figure the overall supply of chips available...,1.648789e+09
14307,Kia,EV6,Chips are made in very few countries in the wo...,1.648790e+09

In [ ]:
Leaf = pd.read_csv('Nissan_Leaf_reddit.csv')
Leaf.insert(0,'Make','Nissan')
Leaf.insert(1,'Model','Leaf')
Leaf

,Make,Model,body,timestamp
0,Nissan,Leaf,somebody posted about noise a few days ago and...,1.661705e+09
1,Nissan,Leaf,Mine had a similar sound and had to be fixed b...,1.661701e+09
2,Nissan,Leaf,"Just call your dealer and let them sort it, if...",1.661720e+09
3,Nissan,Leaf,"Not 100% sure when looking in fan, can't seem ...",1.661706e+09
4,Nissan,Leaf,I'll give them a call in the morning! Still un...,1.661702e+09
...,...,...,...,...
8357,Nissan,Leaf,Good to know that it’s not a problem with the ...,1.544711e+09
8358,Nissan,Leaf,Thanks for giving me the term for what’s happe...,1.544721e+09
8359,Nissan,Leaf,"There is a thread on the mynissanleaf forum, d...",1.544353e+09
8360,Nissan,Leaf,I looked into this and decided against it. The...,1.544364e+09
8361,Nissan,Leaf,a. are you in the US?\nb. do you have an accou...,1.544377e+09

In [ ]:
Model3 = pd.read_csv('Tesla_Model3_reddit.csv')
Model3.insert(0,'Make','Tesla')
Model3.insert(1,'Model','Model3')
Model3

,Make,Model,body,timestamp
0,Tesla,Model3,Can pictures of cars be removed also? I get it...,1.625504e+09
1,Tesla,Model3,Can the mods remove the order confirmation scr...,1.622259e+09
2,Tesla,Model3,I created a subreddit for delivery and VIN pur...,1.622255e+09
3,Tesla,Model3,What about removing posts of stock car deliver...,1.625581e+09
4,Tesla,Model3,Totally agreed. I’m totes cool with seeing peo...,1.622258e+09
...,...,...,...,...
25130,Tesla,Model3,Another good use for the Tesla. I had to do th...,1.660215e+09
25131,Tesla,Model3,Top-right of the screen. Tap and it should X o...,1.660223e+09
25132,Tesla,Model3,Had to wait for an appointment we were early f...,1.660225e+09
25133,Tesla,Model3,:-) I slept in my car for nearly two hours las...,1.660282e+09
25134,Tesla,Model3,One of the recent updates made it hidden.,1.660225e+09

In [ ]:
ModelY = pd.read_csv('Tesla_ModelY_reddit.csv')
ModelY.insert(0,'Make','Tesla')
ModelY.insert(1,'Model','ModelY')
ModelY

,Make,Model,body,timestamp
0,Tesla,ModelY,"Last post to this chat, it's been a fun ride!\...",1.660183e+09
1,Tesla,ModelY,It's interesting. Some of us are dying to get ...,1.661393e+09
2,Tesla,ModelY,It’s 5am! Can’t sleep! 😵‍💫https://i.imgur.com/...,1.660208e+09
3,Tesla,ModelY,"OD 1/15/2022, MYLR MSM white interior, FSD, no...",1.661046e+09
4,Tesla,ModelY,Just another really poor experience for me.\n\...,1.660613e+09
...,...,...,...,...
15983,Tesla,ModelY,Most people in rural areas don't believe in cl...,1.658700e+09
15984,Tesla,ModelY,Penny wise and a pound foolish. Immediacy is t...,1.658704e+09
15985,Tesla,ModelY,That too,1.658703e+09
15986,Tesla,ModelY,lol this dumb country,1.658702e+09
15987,Tesla,ModelY,"100% accurate. Family is very much ""newborn ch...",1.658703e+09

In [ ]:
ID = pd.read_csv('VW_ID4_reddit.csv')
ID.insert(0,'Make','Volkswagen')
ID.insert(1,'Model','ID')
ID

,Make,Model,body,timestamp
0,Volkswagen,ID,Wow. Everybody except me who has logged their ...,1.630620e+09
1,Volkswagen,ID,I have an AWD Pro locked as of 6/22/21. I have...,1.631195e+09
2,Volkswagen,ID,I get my AWD this week!!,1.636907e+09
3,Volkswagen,ID,"Could we include ""Dealership"" and Dealership R...",1.636824e+09
4,Volkswagen,ID,Ordered October 25 and still no “lock.” Really...,1.637198e+09
...,...,...,...,...
16539,Volkswagen,ID,"Not to jump to too many conclusions, but in Ph...",1.656391e+09
16540,Volkswagen,ID,"Mine went from 30-1 to 30-2, so must be gettin...",1.656371e+09
16541,Volkswagen,ID,I think they're administering the update at 30...,1.656372e+09
16542,Volkswagen,ID,Yup. Mine went 30-2 today also. I'm not far f...,1.656374e+09
16543,Volkswagen,ID,And now 30-3 today.. guess customs is hurrying...,1.656448e+09

In [ ]:
Red_concat = pd.concat([F150, Mach_E, Hummer, Ioniq5, KonaEV, EV6, Leaf, Model3, ModelY, ID],
                      ignore_index = True,
                      sort = False)
Red_concat

,Make,Model,body,timestamp
0,Ford,F150 Lightening,Wish Ford had given info on if they are going ...,1.621825e+09
1,Ford,F150 Lightening,"My dealer rep texted me this morning, “We can ...",1.625763e+09
2,Ford,F150 Lightening,"I am trying to find any info on remote ""start""...",1.628616e+09
3,Ford,F150 Lightening,Is it October 26 yet?,1.636933e+09
4,Ford,F150 Lightening,The F150 Lightning needs its own version of se...,1.638572e+09
...,...,...,...,...
132797,Volkswagen,ID,"Not to jump to too many conclusions, but in Ph...",1.656391e+09
132798,Volkswagen,ID,"Mine went from 30-1 to 30-2, so must be gettin...",1.656371e+09
132799,Volkswagen,ID,I think they're administering the update at 30...,1.656372e+09
132800,Volkswagen,ID,Yup. Mine went 30-2 today also. I'm not far f...,1.656374e+09
132801,Volkswagen,ID,And now 30-3 today.. guess customs is hurrying...,1.656448e+09

In [ ]:
Red_concat.insert(2,'Source','Reddit')
Red_concat = Red_concat.drop('timestamp', axis=1)
Red_concat = Red_concat.rename(columns={'body': 'Verbatim Text'})
Red_concat

,Make,Model,Source,Verbatim Text
0,Ford,F150 Lightening,Reddit,Wish Ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,"My dealer rep texted me this morning, “We can ..."
2,Ford,F150 Lightening,Reddit,"I am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,Is it October 26 yet?
4,Ford,F150 Lightening,Reddit,The F150 Lightning needs its own version of se...
...,...,...,...,...
132797,Volkswagen,ID,Reddit,"Not to jump to too many conclusions, but in Ph..."
132798,Volkswagen,ID,Reddit,"Mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,I think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,Yup. Mine went 30-2 today also. I'm not far f...
132801,Volkswagen,ID,Reddit,And now 30-3 today.. guess customs is hurrying...

# Reddit Clean

In [ ]:
# Remove url
url_cleared = []
for i in range(len(Red_concat)):
  result = re.sub(r'http\S+', '', Red_concat['Verbatim Text'][i])
  url_cleared.append(result)

Red_concat.insert(3, 'url_clean_text', url_cleared)
Red_concat = Red_concat.drop('Verbatim Text', axis=1)

Red_concat

,Make,Model,Source,url_clean_text
0,Ford,F150 Lightening,Reddit,Wish Ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,"My dealer rep texted me this morning, “We can ..."
2,Ford,F150 Lightening,Reddit,"I am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,Is it October 26 yet?
4,Ford,F150 Lightening,Reddit,The F150 Lightning needs its own version of se...
...,...,...,...,...
132797,Volkswagen,ID,Reddit,"Not to jump to too many conclusions, but in Ph..."
132798,Volkswagen,ID,Reddit,"Mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,I think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,Yup. Mine went 30-2 today also. I'm not far f...
132801,Volkswagen,ID,Reddit,And now 30-3 today.. guess customs is hurrying...

In [ ]:
# Clear Emoji
emoji_cleared = []
for i in range(len(Red_concat)):
  text = clean(Red_concat['url_clean_text'][i], no_emoji=True)
  emoji_cleared.append(text)

Red_concat.insert(3,'emoji_clear_text', emoji_cleared)
Red_concat = Red_concat.drop('url_clean_text', axis=1)
Red_concat

,Make,Model,Source,emoji_clear_text
0,Ford,F150 Lightening,Reddit,wish ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,"my dealer rep texted me this morning, ""we can ..."
2,Ford,F150 Lightening,Reddit,"i am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,is it october 26 yet?
4,Ford,F150 Lightening,Reddit,the f150 lightning needs its own version of se...
...,...,...,...,...
132797,Volkswagen,ID,Reddit,"not to jump to too many conclusions, but in ph..."
132798,Volkswagen,ID,Reddit,"mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,i think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,yup. mine went 30-2 today also. i'm not far fr...
132801,Volkswagen,ID,Reddit,and now 30-3 today.. guess customs is hurrying...

Warning: total number of rows (132802) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
# Remove mentions and hashtag.
for text in Red_concat['emoji_clear_text']:
  text.replace('@', 'at')
  text = re.sub("#[A-Za-z0-9_]+","", text)

In [ ]:
Red_concat

,Make,Model,Source,emoji_clear_text
0,Ford,F150 Lightening,Reddit,wish ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,"my dealer rep texted me this morning, ""we can ..."
2,Ford,F150 Lightening,Reddit,"i am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,is it october 26 yet?
4,Ford,F150 Lightening,Reddit,the f150 lightning needs its own version of se...
...,...,...,...,...
132797,Volkswagen,ID,Reddit,"not to jump to too many conclusions, but in ph..."
132798,Volkswagen,ID,Reddit,"mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,i think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,yup. mine went 30-2 today also. i'm not far fr...
132801,Volkswagen,ID,Reddit,and now 30-3 today.. guess customs is hurrying...

In [ ]:
# capitalize the sentences (applying trasnformer does not need to be lowercased)
cap_text = []
for text in Red_concat['emoji_clear_text']:
  text = text.capitalize()
  cap_text.append(text)

Red_concat.insert(3,'Verbatim Text', cap_text)
Red_concat = Red_concat.drop('emoji_clear_text', axis=1)
Red_concat

,Make,Model,Source,Verbatim Text
0,Ford,F150 Lightening,Reddit,Wish ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,"My dealer rep texted me this morning, ""we can ..."
2,Ford,F150 Lightening,Reddit,"I am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,Is it october 26 yet?
4,Ford,F150 Lightening,Reddit,The f150 lightning needs its own version of se...
...,...,...,...,...
132797,Volkswagen,ID,Reddit,"Not to jump to too many conclusions, but in ph..."
132798,Volkswagen,ID,Reddit,"Mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,I think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,Yup. mine went 30-2 today also. i'm not far fr...
132801,Volkswagen,ID,Reddit,And now 30-3 today.. guess customs is hurrying...

In [ ]:
# Red_concat.to_csv('reddit_cmt_processed.csv', index=False)

# Forums (This was not included)

In [ ]:
cur_path = "/content/drive/My Drive/EV Buzz Analysis/Ravian_forum"
os.chdir(cur_path)
!pwd

/content/drive/My Drive/EV Buzz Analysis/Ravian_forum

In [ ]:
Ravian_forum_cmt = pd.read_csv('ravian_owners.csv')
pd.set_option('display.max_columns', None)
Ravian_forum_cmt

             model                                           comments
0    ravian_owners  Rivian R1T on Street Tires Went 60 Miles Farth...
1    ravian_owners  I’m wildly impressed with the twennie twens, r...
2    ravian_owners  And from my understanding none of this testing...
3    ravian_owners  moosehead said:\n\n\n\nI’m wildly impressed wi...
4    ravian_owners  What kind of range are people actually seeing ...
..             ...                                                ...
327  ravian_owners  Ripped said:\n\n\n\nThanks for posting.\n\nI'm...
328  ravian_owners  I hear on these forums how many people have re...
329  ravian_owners  usofrob said:\n\n\n\nI hear on these forums ho...
330  ravian_owners  SANZC02 said:\n\n\n\nIf you do not already hav...
331  ravian_owners  CommodoreAmiga said:\n\n\n\nI think it's prett...

[332 rows x 2 columns]

In [ ]:
pip install clean-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting clean-text
  Downloading clean_text-0.6.0-py3-none-any.whl (11 kB)
Collecting emoji<2.0.0,>=1.0.0
  Downloading emoji-1.7.0.tar.gz (175 kB)
     |████████████████████████████████| 175 kB 5.1 MB/s
Collecting ftfy<7.0,>=6.0
  Downloading ftfy-6.1.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.6 MB/s
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from ftfy<7.0,>=6.0->clean-text) (0.2.5)
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-1.7.0-py3-none-any.whl size=171046 sha256=c54f538622277009bf5e61c3d5de3edb653d2bccc93a2c7e1aa3dd5fa053cbc9
  Stored in directory: /root/.cache/pip/wheels/8a/4e/b6/57b01db010d17ef6ea9b40300af725ef3e210cb1acfb7ac8b6
Successfully built emoji
Installing collected packages: ftfy, emoji, clean-text
Successfully installed clean-text-0.6.0 emoji-1.7.0 ftfy-6.1.1

In [ ]:
import re
from cleantext import clean

WARNING:root:Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.

In [ ]:
# Remove url

url_cleared = []
for i in range(len(Ravian_forum_cmt)):
  result = re.sub(r'http\S+', '', Ravian_forum_cmt['comments'][i])
  url_cleared.append(result)

Ravian_forum_cmt.insert(1, 'url_clean_text', url_cleared)
Ravian_forum_cmt = Ravian_forum_cmt.drop('comments', axis=1)

Ravian_forum_cmt

             model                                     url_clean_text
0    ravian_owners  Rivian R1T on Street Tires Went 60 Miles Farth...
1    ravian_owners  I’m wildly impressed with the twennie twens, r...
2    ravian_owners  And from my understanding none of this testing...
3    ravian_owners  moosehead said:\n\n\n\nI’m wildly impressed wi...
4    ravian_owners  What kind of range are people actually seeing ...
..             ...                                                ...
327  ravian_owners  Ripped said:\n\n\n\nThanks for posting.\n\nI'm...
328  ravian_owners  I hear on these forums how many people have re...
329  ravian_owners  usofrob said:\n\n\n\nI hear on these forums ho...
330  ravian_owners  SANZC02 said:\n\n\n\nIf you do not already hav...
331  ravian_owners  CommodoreAmiga said:\n\n\n\nI think it's prett...

[332 rows x 2 columns]

In [ ]:
# Clear "Click to exapand..."

In [ ]:
for text in Ravian_forum_cmt['url_clean_text']:
  if "Click to expand" in text:
    text.replace("Click to expand", "", 1)

Ravian_forum_cmt

             model                                     url_clean_text
0    ravian_owners  Rivian R1T on Street Tires Went 60 Miles Farth...
1    ravian_owners  I’m wildly impressed with the twennie twens, r...
2    ravian_owners  And from my understanding none of this testing...
3    ravian_owners  moosehead said:\n\n\n\nI’m wildly impressed wi...
4    ravian_owners  What kind of range are people actually seeing ...
..             ...                                                ...
327  ravian_owners  Ripped said:\n\n\n\nThanks for posting.\n\nI'm...
328  ravian_owners  I hear on these forums how many people have re...
329  ravian_owners  usofrob said:\n\n\n\nI hear on these forums ho...
330  ravian_owners  SANZC02 said:\n\n\n\nIf you do not already hav...
331  ravian_owners  CommodoreAmiga said:\n\n\n\nI think it's prett...

[332 rows x 2 columns]

not yet completed

# F150 Forum

In [ ]:
cur_path = "/content/drive/My Drive/EV Buzz Analysis/F150_forum"
os.chdir(cur_path)
!pwd

/content/drive/My Drive/EV Buzz Analysis/F150_forum

In [ ]:
F150_forum_cmt = pd.read_csv('f150_owners.csv')
pd.set_option('display.max_columns', None)
F150_forum_cmt

           model                                           comments
0    f150_owners  Texas truck channel did this first ever Dyno t...
1    f150_owners  It means Ford is sandbagging the numbers, but ...
2    f150_owners  If the numbers are accurate, that means the tr...
3    f150_owners  Lariat ER - Iced Blue Silver - Max Tow (Thanks...
4    f150_owners  The possibility of those straps breaking scare...
..           ...                                                ...
898  f150_owners  Lariat ER - Iced Blue Silver - Max Tow (Thanks...
899  f150_owners  gorwell said:\n\n\n\n\t\t\tWould 100% expect i...
900  f150_owners  I watched this but was rather bummed.  Definit...
901  f150_owners  metroshot said:\n\n\n\n\t\t\tIs that a iconic ...
902  f150_owners  2015  Lariat  Metallic White\n2022 Lariat  Ice...

[903 rows x 2 columns]

# Concat SW & Reddit

In [ ]:
all_SW_cmt

,Make,Model,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,Nissan,Leaf,Strategic Window,Nissan Leaf S Plus,2022,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,Tesla,Model 3,Strategic Window,Tesla Model 3,2022,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,Tesla,Model 3,Strategic Window,Tesla Model 3,2022,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22511,Tesla,Model 3,Strategic Window,Tesla Model 3,2020,Volkswagen Passat / New Passat,2017.0,Hyundai Kona,2020.0,Sentiment Not Calculated,Age 24,Male,White,"$60,001 - $65,000",No
22512,Chevrolet,Bolt,Strategic Window,Chevrolet Bolt EV,2020,GMC Acadia,2017.0,Tesla Model S,2020.0,Sentiment Not Calculated,Age 61,Male,White,"$300,001 - $400,000",No
22513,Nissan,Leaf,Strategic Window,Nissan Leaf SV Plus,2019,Volvo S60 Sedan,2012.0,Volvo XC40,2020.0,Sentiment Not Calculated,Age 67,Female,White,"$90,001 - $100,000",No
22514,Chevrolet,Bolt,Strategic Window,Chevrolet Bolt EV,2020,Chevrolet Bolt EV,2017.0,(None),NaN,Sentiment Not Calculated,Age 47,Male,Other,"$500,001 - $750,000",No
22515,Nissan,Leaf,Strategic Window,Nissan Leaf SV Plus,2019,Jeep Patriot,2013.0,Tesla Model S,2019.0,Sentiment Not Calculated,Age 43,Male,White,"$100,001 - $125,000",No

In [ ]:
Red_concat

,Make,Model,Source,Verbatim Text
0,Ford,F150 Lightening,Reddit,Wish ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,"My dealer rep texted me this morning, ""we can ..."
2,Ford,F150 Lightening,Reddit,"I am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,Is it october 26 yet?
4,Ford,F150 Lightening,Reddit,The f150 lightning needs its own version of se...
...,...,...,...,...
132797,Volkswagen,ID,Reddit,"Not to jump to too many conclusions, but in ph..."
132798,Volkswagen,ID,Reddit,"Mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,I think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,Yup. mine went 30-2 today also. i'm not far fr...
132801,Volkswagen,ID,Reddit,And now 30-3 today.. guess customs is hurrying...

In [ ]:
data_concat = pd.concat([all_SW_cmt, Red_concat],
                      ignore_index = True,
                      sort = False)
data_concat

,Make,Model,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,Nissan,Leaf,Strategic Window,Nissan Leaf S Plus,2022.0,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021.0,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,Tesla,Model 3,Strategic Window,Tesla Model 3,2022.0,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021.0,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,Tesla,Model 3,Strategic Window,Tesla Model 3,2022.0,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155313,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Not to jump to too many conclusions, but in ph..."
155314,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mine went from 30-1 to 30-2, so must be gettin..."
155315,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I think they're administering the update at 30...
155316,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yup. mine went 30-2 today also. i'm not far fr...
155317,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,And now 30-3 today.. guess customs is hurrying...

In [ ]:
data_concat.groupby(['Model']).count()

,Make,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
Model,,,,,,,,,,,,,,
Bolt,1887,1887,1887,1887,1887,1303,1887,1038,1887,1887,1887,1838,1887,1884
EV6,14836,14836,528,528,528,382,528,349,528,528,528,493,528,14836
F150 Lightening,18173,18173,0,0,0,0,0,0,0,0,0,0,0,18173
Hummer,245,245,11,11,11,1,11,1,11,11,11,11,11,245
ID,18195,18195,1651,1651,1651,1186,1651,1142,1651,1651,1651,1582,1651,18194
Ioniq 5,474,474,474,474,474,344,474,358,474,474,474,438,474,473
Ioniq5,17874,17874,0,0,0,0,0,0,0,0,0,0,0,17874
Kona EV,1484,1484,1484,1484,1484,1041,1484,1006,1484,1484,1484,1444,1484,1480
KonaEV,12670,12670,0,0,0,0,0,0,0,0,0,0,0,12670
Leaf,12647,12647,4285,4285,4285,2555,4285,2673,4285,4285,4285,4102,4285,12638
Model 3,5411,5411,5411,5411,5411,3447,5411,2206,5411,5411,5411,5254,5411,5397
Model Y,5070,5070,5070,5070,5070,3382,5070,2340,5070,5070,5070,4901,5070,5058
Model3,25135,25135,0,0,0,0,0,0,0,0,0,0,0,25135
ModelY,15988,15988,0,0,0,0,0,0,0,0,0,0,0,15988
Mustang Mach-E,5219,5219,1705,1705,1705,1166,1705,1025,1705,1705,1705,1610,1705,5217
R1T,10,10,10,10,10,7,10,0,10,10,10,10,10,10

In [ ]:
data_concat.to_csv('EV_SW&Reddit_v2.csv', index = 'False')

# All Reddit Data

In [ ]:
all_cmt = pd.read_csv('EV_SW&Reddit_v2.csv')
pd.set_option('display.max_columns', None)
all_cmt

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,6,8,10,11,12,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Make,Model,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,0,Nissan,Leaf,Strategic Window,Nissan Leaf S Plus,2022.0,(None),NaN,Chevrolet Bolt EV,2022.0,Sentiment Not Calculated,Age 47,Male,White,"$65,001 - $70,000",It's a great commuter car. It's comfortable an...
1,1,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021.0,BMW X3 xDrive 30e,2018.0,Hyundai Kona,2021.0,Sentiment Not Calculated,Age 58,Male,White,"$200,001 - $300,000",LOVE THE CAR BUT...\n1) Dealer was dishonest a...
2,2,Tesla,Model 3,Strategic Window,Tesla Model 3,2022.0,(None),NaN,Tesla Model 3,2019.0,Sentiment Not Calculated,Age 45,Male,White,"$65,001 - $70,000",The range and energy efficiency is excellent- ...
3,3,Volkswagen,ID,Strategic Window,Volkswagen ID.4 AWD,2021.0,Toyota RAV4,2016.0,Volvo C40,2021.0,Sentiment Not Calculated,Age 74,Male,White,"$300,001 - $400,000",I preordered using the VW online site December...
4,4,Tesla,Model 3,Strategic Window,Tesla Model 3,2022.0,Nissan Maxima,1995.0,Ford Mustang Mach-E,2022.0,Sentiment Not Calculated,Age 72,Male,NaN,"$80,001 - $90,000",I just finished my trip in my 2022 Model 3 lon...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155313,155313,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Not to jump to too many conclusions, but in ph..."
155314,155314,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mine went from 30-1 to 30-2, so must be gettin..."
155315,155315,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I think they're administering the update at 30...
155316,155316,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yup. mine went 30-2 today also. i'm not far fr...
155317,155317,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,And now 30-3 today.. guess customs is hurrying...

In [ ]:
all_Red_cmt = all_cmt[all_cmt["Source"] == 'Reddit']
all_Red_cmt = all_Red_cmt.drop('Unnamed: 0', axis=1)
all_Red_cmt = all_Red_cmt.reset_index()
all_Red_cmt

,index,Make,Model,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,22516,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wish ford had given info on if they are going ...
1,22517,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"My dealer rep texted me this morning, ""we can ..."
2,22518,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"I am trying to find any info on remote ""start""..."
3,22519,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Is it october 26 yet?
4,22520,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The f150 lightning needs its own version of se...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132797,155313,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Not to jump to too many conclusions, but in ph..."
132798,155314,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mine went from 30-1 to 30-2, so must be gettin..."
132799,155315,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I think they're administering the update at 30...
132800,155316,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yup. mine went 30-2 today also. i'm not far fr...
132801,155317,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,And now 30-3 today.. guess customs is hurrying...

In [ ]:
all_Red_cmt = all_Red_cmt.drop('index', axis=1)
all_Red_cmt

,Make,Model,Source,Purchased,Purchased Year,Disposed,Disposed Model Year,Rejected,Rejected Model Year,Sentiment,Age Range,Gender,Ethnicity,Income Bracket,Verbatim Text
0,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wish ford had given info on if they are going ...
1,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"My dealer rep texted me this morning, ""we can ..."
2,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"I am trying to find any info on remote ""start""..."
3,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Is it october 26 yet?
4,Ford,F150 Lightening,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The f150 lightning needs its own version of se...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132797,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Not to jump to too many conclusions, but in ph..."
132798,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mine went from 30-1 to 30-2, so must be gettin..."
132799,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I think they're administering the update at 30...
132800,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yup. mine went 30-2 today also. i'm not far fr...
132801,Volkswagen,ID,Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,And now 30-3 today.. guess customs is hurrying...

In [ ]:
all_Red_cmt.to_csv('EV_Reddit_all.csv', index = 'False')